body {
  background: linear-gradient(240deg, skyblue, lightgreen);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: aliceblue;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

@import url("https://www.pexels.com/search/videos/technology/");
body {
  margin: 10%;
  padding: 0;
}

#myvideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
