body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, red, yellow);
}

#todo-wrap input {
  box-sizing: border-box;
}
#todo-wrap input {
  padding: 10px;
}
#todo-wrap input[type="button"],
#todo-wrap input[type="submit"] {
  color: #fff;
  cursor: pointer;
}

#todo-wrap {
  max-width: 500px;
  background: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}

#todo-wrap h1 {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

#todo-add {
  display: flex;
}
#todo-item {
  width: 85%;
}
#todo-save {
  width: 15%;
  background: #5866cf;
  border: 2px solid #5866cf;
}

#todo-del {
  margin: 10px 0;
}
#todo-del input {
  background: #cf585c;
  border: 2px solid #cf585c;
}

.todo-row {
  display: flex;
  margin-top: 10px;
}

.todo-item {
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
}
.todo-item.cx {
  background: #ffe1d7;
  text-decoration: line-through;
}
.todo-item.done {
  background: #dcffd7;
}

.todo-cx,
.todo-ok {
  width: 50px;
}
.todo-cx {
  background: #cf585c;
  border: 2px solid #cf585c;
}
.todo-ok {
  background: #4aa53d;
  border: 2px solid #4aa53d;
}

html,
body,
input {
  font-family: arial, sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
}
